body{
   margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: flex-start;
}
#textoPainel{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0;
}

.CadastroProduto{
    color:rgb(93, 92, 92);
}

#nome,#preco,#categoria,#descricao{
  color:rgb(26, 26, 26);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#TituloCatalogo{
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#NomeProduto, #PrecoProduto, #CategoriaProduto, #DescricaoProduto{
  border-radius: 7px;
  border: 1px solid #979696;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;

}
#DescricaoProduto {
  width: 100%;
  height: 130px;            
  box-sizing: border-box;
  padding: 15px 60px;        
  border: 1px solid #999;
  border-radius: 20px;       
  font-size: 14px;
  resize: none;
  outline: none;
  padding-left: 15px;
}
#AvisoFotos{
  color:#999;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 380px;
}
#CadastrarprodutoBotão{
  background-color: black;
  color:aliceblue;
  border-radius: 10px;
   width: 900px;
  height: 50px;
  display: block;
  margin-left: 50px;
}

.Painel{
  margin-right: 780px;
}