.CadastroProduto{
    color:rgb(93, 92, 92);
}

#nome,#preco,#categoria,#descricao{
  color:rgb(26, 26, 26);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#TituloCadastrarProduto{
  color: black;
}

#NomeProduto, #PrecoProduto, #CategoriaProduto, #DescricaoProduto{
  border-radius: 7px;
  border: 1px solid #979696;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;

}
#DescricaoProduto {
  width: 100%;
  height: 130px;            
  box-sizing: border-box;
  padding: 15px 60px;        
  border: 1px solid #999;
  border-radius: 20px;       
  font-size: 14px;
  resize: none;
  outline: none;
  padding-left: 15px;
}